export(bcor_mcmc)
export(bcor_plot)
export(bcor_table)
export(bern2binom)
export(calc_deviance)
export(calc_ll)
export(col_hdi)
export(col_quantile)
export(hdi)
export(linpred)
export(psy_link)
export(stan_sample)
import(doMC)
import(ggplot2)
import(plyr)
import(rstan)
import(wutils)
