export(bcor_mcmc)
export(bcor_plot)
export(bcor_table)
export(bern2binom)
export(bern_bin)
export(beta_cis)
export(calc_deviance)
export(calc_ll)
export(col_hdi)
export(col_quantile)
export(hdi)
export(linpred)
export(psy_link)
export(stan_sample)
import(ggplot2)
import(parallel)
import(plyr)
import(rstan)
import(wutils)
